@model Final.Mvc.ViewModels.GameVMs.GameDetailVM

<h1>Game Details @Model.Id</h1>

<div>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <p>Price: $@Model.Price</p>
    <p>Sale Price: $@Model.SalePrice</p>

    <p>Platform: @Model.Platform.ToString()</p>

    <p>Category: @Model.CategoryName</p>

    <h3>Available DLCs:</h3>
    @foreach (var dlc in Model.DlcNames)
    {
        <h4>@dlc</h4>
    }

    <p><img src="@Url.Content(Model.ImgUrl)" alt="@Model.Title" style="width: 200px;" /></p>
</div>