@model List<GameListItemVM>

<div id="all-deals-slider" class="autoplay">
    @foreach (var game in Model.Take(14))
    {
        <div class="card" data-url="@Url.Action("Detail", "Game", new { id = game.Id })">
            @if (game.SalePrice.HasValue)
            {
                <div class="discount">-@(Math.Round((1 - (game.SalePrice.Value / game.Price)) * 100))%</div>
            }
            <img src="@game.ImgUrl" alt="@game.Title" class="game-image">

            <div class="ps-label-container">
                @if ((int)game.Platform == 0)
                {
                    <div class="ps4-label">PS4</div>
                }
                else if ((int)game.Platform == 1)
                {
                    <div class="ps5-label">PS5</div>
                }
                else if ((int)game.Platform == 2)
                {
                    <div class="ps4-label">PS4</div>
                    <div class="ps5-label">PS5</div>
                }
            </div>

            <h3>
                <a href="@Url.Action("Detail", "Game", new { id = game.Id })">@game.Title</a>
            </h3>

            <div class="price">
                @if (game.SalePrice.HasValue)
                {
                    <span class="sale-price">$@game.SalePrice.Value</span>
                    <span class="old-price text-decoration-line-through">$@game.Price</span>
                }
                else
                {
                    <span class="regular-price">$@game.Price</span>
                }
            </div>
        </div>
    }

    <div class="card sale-redirect-card redirect-card">
        <a href="@Url.Action("Index", "Game", new { sale = true, sortByPrice = "price_asc" })">
            <div class="redirect-content">
                <h3>View All Deals</h3>
            </div>
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        const $slider = $('#all-deals-slider');

        const totalSlides = $slider.find('.card').not('.redirect-card').length;

        $slider.slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: false,
            infinite: false,
            arrows: true,
            responsive: [
                { breakpoint: 1200, settings: { slidesToShow: 4 } },
                { breakpoint: 992, settings: { slidesToShow: 3 } },
                { breakpoint: 768, settings: { slidesToShow: 2 } },
                { breakpoint: 576, settings: { slidesToShow: 1 } }
            ]
        });

        function updateNavigation() {
            const currentSlide = $slider.slick('slickCurrentSlide');
            const remainingSlides = totalSlides - 5

            if (currentSlide >= remainingSlides) {
                $slider.slick('slickSetOption', 'arrows', true, true);
                $slider.find('.slick-next').addClass('slick-disabled');
                $slider.find('.slick-prev').removeClass('slick-disabled');
            } else {
                $slider.slick('slickSetOption', 'arrows', true, true);
                $slider.find('.slick-next').removeClass('slick-disabled');
                $slider.find('.slick-prev').removeClass('slick-disabled');
            }
        }

        $slider.on('afterChange', function (event, slick, currentSlide) {
            updateNavigation();
        });

        updateNavigation();
    });
</script>
